/Artigos - Referencia
/Correções
5. Modelo de Folha de aprovação.docx
aprendizadomaquinavelocidadecoextrusora.pdf
Apresentação TCC - Marlon.pptx
Correlação de velocidades.pptx
dados_analise.xlsx
dados_analise 2.xlsx
dados_analise3.xlsx
DECLARAÇÃO DE AUTORIA - Marlon.doc
FICHA DE ACOMPANHAMENTO DAS ATIVIDADES DO TCC ok.doc
MODELO DE CAPA E FOLHA DE ROSTO.docx
RESO 018-18 REGULAMENTO DE TCC.pdf
TCC 2 - Marlon Alves Bomfim - Revisado.docx
TCC 2 - Marlon Alves Bomfim - Revisado.pdf
TCC 2 - Marlon v1.docx
TCC 2 - Marlon v2.docx
TCC 2 - Marlon v3.docx
TCC 2 - Marlon v4 - Final.docx
TERMO DE AUTORIZAÇÃO PARA PUBLICAÇÃO - Marlon.doc
TERMO DE COMPROMISSO DE ORIENTAÇÃO TCC2.doc
~$C 2 - Marlon v1.docx
